
.screen-1 {
  width: 100vw;
  height: 100vh;
  max-height: 1700px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
  background-color: #e8e8e8 ;
  overflow-x: hidden;
} 

.screen-1-wraper{
  width: 2400px;
  height: 100vh;
  max-height: 1600px;
  filter: drop-shadow(-15px 10px 15px #000);
}

.screen-1-background{
  width: 100%;
  height: 95vh;
  max-height: 1600px;
  position: relative ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  clip-path: polygon(0 0,100% 0,100% calc(96% - 50px),50% 100%,0 calc(96% - 50px));
}


.screen-1 .title{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 6vh;
  z-index: 3;
  /*align-items: center;*/
  text-align: center;
  color: #ffffff;
  letter-spacing: calc(1 * 0.3vw);
  text-shadow: 2px 2px 6px #000;
}

.screen-1 .title h1 {
  font-size: calc(24px + 16 * (100vw / 1280));
}

/*.screen-1 .title h2{
  font-size: calc(12px + 16 * (100vw / 1280));
}*/

/**кнопка */
.screen1-button {
  width: 15vw;
  height: 4vw;
  position: absolute;
  bottom: 20vh;
  border: solid 0.1rem #ffee94;
  padding: 8px;
}

.screen1-button-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/8nT.png");
  background-size: cover;
}

.screen1-button a h2{
  color: #000;
  /*font-size: calc(14px + 1 * (100vw/200));*/
  /*font-weight: 800;*/
  /*letter-spacing: 0.2vw;*/
}

@media screen and (max-width: 1900px) {
  /*.screen1-button a {
    font-size: calc(8px + 1 * (100vw/200));
  }

  .screen-1 .title h1 {
    font-size: calc(20px + 16 * (100vw / 1280));
  }
  
  .screen-1 .title h2{
    font-size: calc(8px + 16 * (100vw / 1280));
  }*/

  .screen1-button {
    padding: 6px;
  }

  .screen-1 .title{
    top: 7vh;
    z-index: 3;
    /*align-items: center;*/
    text-align: center;
    color: #ffffff;
    letter-spacing: calc(1 * 0.3vw);
    text-shadow: 2px 2px 6px #000;
  }
}

@media screen and (max-width: 1600px) {
  .screen-1-background{
    height: 85vh;
  }

  .screen-1 {
    height: 90vh;
  } 

  .screen1-button {
    width: 20vw;
    height: 5vw;
    padding: 5px;
  }

  .screen1-button a {
    font-size: calc(8px + 1 * (100vw/200));
  }

  .screen-1 .title h1 {
    font-size: calc(20px + 16 * (100vw / 1280));
  }
  
  .screen-1 .title h2{
    font-size: calc(8px + 16 * (100vw / 1280));
  }
}

@media screen and (max-width: 1024px) {
  .screen1-button a {
    font-size: calc(8px + 1 * (100vw/200));
  }

  .screen-1 .title h1 {
    font-size: calc(20px + 16 * (100vw / 1280));
  }
  
  .screen-1 .title h2{
    font-size: calc(8px + 16 * (100vw / 1280));
  }
}

@media screen and (max-width: 800px) {

  /*.screen-1-background{
    width: 100%;
    height: 95vh;
    position: relative ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    clip-path: polygon(0 0,100% 0,100% calc(96% - 50px),50% 100%,0 calc(96% - 50px));
  }*/
  .screen1-button {
    width: 25vw;
    height: 8vw;
  }
}

@media screen and (max-width: 640px) {
  .screen-1-background{
    height: 65vh;
  }

  .screen-1 {
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
    background-color: #e8e8e8 ;
    overflow-x: hidden;
  } 

  .screen1-button {
    width: 30vw;
    height: 10vw;
    padding: 3px;
  }

  .screen1-button a{
    font-size: calc(9px + 1 * (100vw/200));
    letter-spacing: 0.3vw;
  }
}

@media screen and (max-width: 480px) {

  .screen1-button {
    width: 25vw;
    height: 7vw;
    padding: 3px;
  }

  .screen1-button a h2{
    font-size: calc(7px + 1 * (100vw/200));
    letter-spacing: 0.3vw;
  }

}

@media screen and (max-width: 350px) {
  
  .screen-1 .title h1 {
        font-size: calc(18px + 16 * (100vw / 1280));
  }
  .button {
    padding: 2px;
    border: solid 1px #ffee94;
  }

  .screen1-button a h2{
    font-size: calc(6px + 1 * (100vw/200));
    letter-spacing: 0.3vw;
  }
}