.screen9  {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #e8e8e8 ;
  overflow-x: hidden;
}

.screen9-wrapper{
  width: 2400px;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.screen9-title {
  width: 100%;
  z-index: 2;
}
.screen9-title-text {
  /*margin-bottom: 1rem;
  max-width: 71.5rem;*/
  font-size: 48px;
  font-weight: 400;
  line-height: 1.5660001482;
  letter-spacing: 0.28rem;
  text-transform: uppercase;
  font-family: Benzin-Bold, 'Source Sans Pro';
}
.screen9-title-text .yellow {
  color: #ffd600;
}
.screen9-title-text .black {
  color: #242424;
}
.screen9-title-text .orange {
  color: #ff9919;
}
.vector-144-Zpb {
  width: 11.1rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
}

.screen9-map {
  width: 2000px;
  position: relative;
}

@media screen and (max-width: 1920px) {
  .screen9-wrapper{
    width: 1700px;
  }
  .screen9-map {
    width: 1700px;
  }
}


@media screen and (max-width: 1610px) {
  .screen9-title-text {
    font-size: 30px;
  }
}

