.screen6  {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #e8e8e8 ;
  overflow-x: hidden;
}

.screen6-wrapper{
  width: 2400px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.screen6-map {
  max-width: 2400px;
  width: 90vw;
  position: relative;
}

/*@media screen and (max-width: 1920px) {
  .screen6-wrapper{
    width: 1700px;
  }
  .screen6-map {
    width: 1700px;
  }
}


@media screen and (max-width: 1610px) {
  .screen6-title-text {
    font-size: 30px;
  }
}*/

