
.footer {
  font-size: 2.2rem;
  line-height: 2.2rem;
  padding: 3rem 0;
  background-color: #00427a;
  display: flex;
  justify-content: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .footer {
    font-size: 1.8rem;
    padding: 2rem 0 ;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    font-size: 1.6rem;
    padding: 1.5rem 0;
  }
}