
.screen-1 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
  background-color: #e8e8e8 ;
  overflow-x: hidden;
} 

.screen-1-wraper{
  width: 2400px;
  height: 100vh;
  filter: drop-shadow(-15px 10px 15px #000);
}

.screen-1-background{
  width: 100%;
  height: 1700px;
  position: relative ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -300px 0;
  clip-path: polygon(0 0,100% 0,100% calc(96% - 50px),50% 100%,0 calc(96% - 50px));
}


.screen-1 .title{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 410px;
  z-index: 3;
  align-items: center;
}

.screen-1 > .title > h1, h2, h3{
  letter-spacing: 5px;
  display: flex;
  text-align: end;
}

.screen-1 .title h1 {
  color: #ffffff;
  font-size: 72px;
  text-shadow: 1px 1px 5px #000;
}

.screen-1 .title h3{
  color: #ffffff;
  font-size: 50px;
}

/**кнопка */
.button {
  margin-bottom: 80px;
  position: absolute;
  bottom: 500px;
  z-index: 2;
}
.item--Sum {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
.item--Sum .item--U5m {
  width: 370px;
  height: 100px;
  position: absolute;
  margin: 10px
}
.item--Sum .button-border {
  width: 395px;
  height: 125px;
  position: absolute;
  border: solid 0.1rem #ffee94;
  box-sizing: border-box;
}
.item--Sum .button-text {
  position: relative;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.1560000289;
  letter-spacing: 0.1305rem;
  text-transform: uppercase;
  color: #313131;
  font-family: Benzin-Medium, 'Source Sans Pro';
  white-space: nowrap;
}

/*@media screen and (max-width: 1800px) {
  .screen-1 .title{
    left: 350px;
  }
  .button {
    right: 200px;
  }
}*/
/*@media screen and (max-width: 2700px) {
  .screen-1-wraper {

  }

}*/

/*@media screen and (max-width: 2450px) {
  .screen-1 {
    height: 1120px;
  }
  .screen-1-wraper {
    background-position: 0 -40px;
  }
}*/

@media screen and (max-width: 1920px) {
  /*.screen-1 {
    height: 1180px;
  }*/
  .screen-1-wraper{
    width: 2400px;
    height: 1200px;
  }

  .screen-1-background{
    height: 1140px;
    background-position: 0 0;
  }

  .screen-1 .title{
    top: 250px;
  }

  .button {
    margin-bottom: 0px;
    position: absolute;
    bottom: 300px;
    z-index: 2;
  }
}

@media screen and (max-width: 1700px) {
  /*.screen-1 {
    height: 1100px;
  }*/

  .screen-1-wraper{
    width: 2400px;
    height: 860px;
  }
 

  .screen-1-background{
    height: 940px;
    background-position: 0 0;
  }  


  .screen-1 .title h1{
    font-size: 58px;
  }

  .screen-1 .title h3{
    font-size: 38px;
  }

}





@media screen and (max-width: 1400px) {
  /*.screen-1 {
    height: 900px;
  }*/

  .screen-1-wraper{
    width: 2400px;
    height: 860px;
  }

  .screen-1-background{
    height: 95vh;
    background-position: 0 0;
  }

  .screen-1 .title h1{
    font-size: 48px;
  }

  .screen-1 .title h3{
    font-size: 34px;
  }

  /*.button {
    margin-top: 70px;
  }

  .item--Sum .item--U5m {
    width: 200px;
    height: 60px;
  }
  .item--Sum .button-border {
    width: 220px;
    height: 80px;
  }
  .item--Sum .button-text {
    font-size: 10px;
  }*/

}


@media screen and (max-width: 1200px) {
  /*.screen-1 {
    height: 900px;
  }

  .screen-1-wraper {
    height: 80vh;
    background-position: 0 0px;
  }*/
  
  .screen-1 .title h1{
    font-size: 36px;
  }

  .screen-1 .title h3{
    font-size: 26px;
  }

}

@media screen and (max-width: 1100px) {
  .screen-1-wraper {
    background-position: -15px -0px;
  }
}

@media screen and (max-width: 1000px) {
  .screen-1-wraper {
    height: 80vh;
    background-position: -25px 0;
  }
}

@media screen and (max-height: 960px) {
  .screen-1-wraper{
    width: 2400px;
    height: 760px;
  }
 

  .screen-1-background{
    height: 95vh;
    background-position: -150px 0;
  }  
}


@media screen and (max-width: 860px) {
  /*.screen-1 {
    height: 75vh;
  }*/

  .screen-1 .title{
    align-items: center;
    width: 80vw;
  }

  .screen-1-wraper {
    background-position: -70px 0;
  }


  .screen-1 .title h1{
    text-align: center;
    font-size: 19px;
    margin-bottom: 30px;
  }

 .screen-1 .title h3{
    font-size: 10px;
  }

  .screen-1 .title h2{
    font-size: 10px;
    margin-top: 10px;
  }  

  .button {
    margin-top: 60px;
  }

  .item--Sum .item--U5m {
    width: 140px;
    height: 40px;
  }
  .item--Sum .button-border {
    width: 155px;
    height: 55px;
  }
  .item--Sum .button-text {
    font-size: 8px;
  }
}

@media screen and (max-width: 640px) { 
  .screen-1 .title{
    top: 10vh
  }

  .screen-1 .title h1{
    font-size: 20px;
  }

  .screen-1-background{
    background-position: -280px 0;
  }
}

@media screen and (max-width: 360px) { 
  .screen-1 {
    height: 700px;
  }

  .screen-1-background{
    max-height: 640px;
  }

  /*.screen-1 .title{
    top: 90px
  }*/

  .screen-1 .title h1{
    font-size: 18px;
  }

  .button {
    bottom: 110px;
  }
}