

.screen-1 {
  width: 100vw;
  height: 1200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  filter: drop-shadow(-15px 10px 15px #000);
  position: relative;
  z-index: 3;
} 

.screen-1-wraper{
  width: 100%;
  height: 100vh;
  position: relative ;
  background-image: url("./img/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -100px;
  clip-path: polygon(0 0,100% 0,100% calc(97% - 50px),50% 100%,0 calc(97% - 50px));
  display: flex;
  justify-content: center;
  align-items: center;
}


.screen-1 .title{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  /*left: 220px;*/
  z-index: 3;
  align-items: center;
}

.screen-1 .title h1, h2, h3{
  color: #ffffff;
  letter-spacing: 5px;
  display: flex;
  text-align: end;
}

.screen-1 .title h1 {
  font-size: 48px;
}

.screen-1 .title h3{
  font-size: 34px;
}

.screen-1 .content{
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
}
.screen-1 .title h2{
  font-size: 28px;
  margin-top: 15px;
  text-align: center;
}
.screen-1 .arrow{
  width: 50px;
  height: 28px;
  position: relative;
  top: 15px;
  /*right: 130px;*/
  background-image: url("./img/arrow.png");
  background-size: cover;
  background-repeat: no-repeat;

}


/**кнопка */
.button {
  margin-bottom: 80px;
  z-index: 2;
}
.item--Sum {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
.item--Sum .item--U5m {
  width: 270px;
  height: 80px;
  position: absolute;
  margin: 10px
}
.item--Sum .button-border {
  width: 290px;
  height: 102px;
  position: absolute;
  border: solid 0.1rem #ffee94;
  box-sizing: border-box;
}
.item--Sum .button-text {
  position: relative;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.1560000289;
  letter-spacing: 0.1305rem;
  text-transform: uppercase;
  color: #313131;
  font-family: Benzin-Medium, 'Source Sans Pro';
  white-space: nowrap;
}

/*@media screen and (max-width: 1800px) {
  .screen-1 .title{
    left: 350px;
  }
  .button {
    right: 200px;
  }
}*/

@media screen and (max-width: 1610px) {
  .screen-1 {
    height: 740px;
  }

  .screen-1-wraper {
    background-position: 0 -70px;
  }

  .screen-1 .arrow{
    width: 35px;
    height: 20px;
  }

  .screen-1 .title h1{
    font-size: 44px;
  }

  .screen-1 .title h3{
    font-size: 20px;
  }

  .screen-1 .title h2{
    font-size: 20px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 1400px) {
  .screen-1 {
    height: 740px;
  }

  .screen-1-wraper {
    background-position: 0 0;
  }

  .screen-1 .arrow{
    width: 28px;
    height: 15px;
  }

  .screen-1 .title h1{
    font-size: 30px;
  }

  .screen-1 .title h3{
    font-size: 18px;
  }

  .screen-1 .title h2{
    font-size: 18px;
    margin-top: 15px;
  }  

  .button {
    margin-top: 70px;
  }

  .item--Sum .item--U5m {
    width: 200px;
    height: 60px;
  }
  .item--Sum .button-border {
    width: 220px;
    height: 80px;
  }
  .item--Sum .button-text {
    font-size: 10px;
  }

}


@media screen and (max-width: 1200px) {
  .screen-1 {
    height: 600px;
  }

  .screen-1-wraper {
    height: 80vh;
    background-position: 0 -20px;
  }

  .content{
    width: 400px;
  }
  
  .screen-1 .arrow{
    top: 10px;
    width: 20px;
    height: 12px;
  }

  .screen-1 .title h1{
    font-size: 26px;
  }

  .screen-1 .title h3{
    font-size: 14px;
  }

  .screen-1 .title h2{
    font-size: 14px;
    margin-top: 10px;
  }  

}

@media screen and (max-width: 1100px) {
  .screen-1-wraper {
    background-position: -15px -0px;
  }
}

@media screen and (max-width: 1000px) {
  .screen-1-wraper {
    height: 80vh;
    background-position: -25px 0;
  }
}

@media screen and (max-width: 940px) {
  .screen-1-wraper {
    height: 80vh;
    background-position: -30px 0;
  }
}

@media screen and (max-width: 860px) {
  .screen-1 {
    height: 75vh;
  }

  .screen-1 .title{
    align-items: center;
    width: 60%;
  }

  .screen-1-wraper {
    height: 75vh;
    background-position: -70px 0;
  }
  
  .screen-1 .arrow{
    top: 10px;
    width: 20px;
    height: 12px;
  }

  .screen-1 .title h1{
    text-align: center;
    font-size: 19px;
    margin-bottom: 30px;
  }

 .screen-1 .title h3{
    font-size: 10px;
  }

  .screen-1 .title h2{
    font-size: 10px;
    margin-top: 10px;
  }  

  .button {
    margin-top: 60px;
  }

  .item--Sum .item--U5m {
    width: 140px;
    height: 40px;
  }
  .item--Sum .button-border {
    width: 155px;
    height: 55px;
  }
  .item--Sum .button-text {
    font-size: 8px;
  }
}

@media screen and (max-width: 640px) { 
  .screen-1 .title h1{
    font-size: 16px;
  }
}


@media screen and (max-width: 640px) { 
  .screen-1 .title h1{
    font-size: 16px;
  }
}