.screen2 {
  width: 100vw;
  position: relative;
  justify-content: center;
  display: flex;
  background-color: #e8e8e8 ;
}

.screen2-content {
  max-width: 2400px;
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qwerty{
  width: 100px;
  height: 100px;
  position: absolute;
  /*transform: perspective(100px);*/
  transform-style: preserve-3d;
  /*transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);*/
  /*transform: skew(30deg);*/
  /*animation: rotate 2s infinite;*/
}

@keyframes rotate{
  0% {
    
    transform: rotate(0.1turn);
  }

  50% {
    transform: rotate(-0.1turn);
  }

  100% {
    transform: rotate(0.1turn);
  }
  
}

.screen2-title-text {
      font-size: 48px;
      font-weight: 400;
      line-height: 1.5660001482;
      letter-spacing: 0.28rem;
      text-transform: uppercase;
}

.block {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
}

.catalog-item {
  position: relative;
}

.catalog-item a{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-text {
  color: #242424;
}

.cat {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1/0.7;
}

.img01 {background-image: url("./tech/D65E.png");}
.img02 {background-image: url("./tech/GD705.png");}
.img03 {background-image: url("./tech/hd605.png");}
.img04 {background-image: url("./tech/pc500.png");}
.img05 {background-image: url("./tech/WA470.png");}
.img06 {background-image: url("./tech/WB93R.png");}


@media screen and (max-width: 1920px) {

}

@media screen and (max-width: 1800px) {
  .type-text {
    font-size: calc(18px + 1 * (100vw/100));;
  }
}

@media screen and (max-width: 1600px) {
  .type-text {
    font-size: calc(16px + 1 * (100vw/100));;
  }
}

@media screen and (max-width: 1400px) {
  .type-text {
    font-size: calc(12px + 1 * (100vw/100));;
  }
}

@media screen and (max-width: 640px) {
  .block {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: center;
}

}

