.header {
  width: 100vw;
  height: 7rem;
  position: fixed;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}


.header-central-item{
  width: 90vw;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 8rem;
  height: 6rem;
  background-image: url("./name.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.menu{
  width: 90vw;
  height: 35px;
  display: flex;
  justify-content: space-between;
}
.menu a {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  text-decoration: none ;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}

/*@media screen and (max-width: 1920px) { 
  .menu {
    width: 1400px;
  }

  .menu a {
    font-size: 24px;
  }
}

@media screen and (max-width: 1600px) { 
  .menu {
    width: 1200px;
  }

  .menu a {
    font-size: 22px;
  }
}*/

@media screen and (max-width: 1400px) { 
  .menu a {
    font-size: 2rem;
  }
}

@media screen and (max-width: 960px) { 
  .menu a {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 800px) { 

}

@media screen and (max-width: 640px) { 
  .menu a {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 360px) { 
  .header-central-item{
    width:36rem;
    height: 7rem;
  }

  .menu {
    width: 32rem;
  }
  .menu a {
    font-size: 1.1rem;
  }
}