.screen2 {
  overflow: hidden;
  width: 100vw;
  height: 1600px;
  /*justify-content: center;*/
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8 ;
}

.screen2-title {
  font-size: 62px;
  text-align: center;
  /*z-index: 2;*/
  margin: 40px 0;
}   

.foto{
  width: 1600px;
  /*height: 50vh;*/
  display: flex;
  flex-direction: column;
}

.foto .row{
  display: flex;
  flex-direction: row;
}

.foto .row > div{
  width: 860px;
  height: 550px;
  margin: 0 10px 10px 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.avia{ 
  background-image: url("./avai.png");
}

.sea{
  background-image: url("./sea.png");
}

.rail{
  background-image: url("./rail.png");
}

.auto{
  background-image: url("./auto.png");
}

.earthwrap {
  height: 0px;
  position: relative;
  left: 630px;
  top: -163px;
}

.earth{
  position: relative;
  width: 310px;
  height: 310px;
  /*left: 403px;
  top: -163px;*/
  background-image: url("./earth.png");
  background-size: contain;
}


@media screen and (max-width: 1800px) {
  .screen2{
    height: 1430px;
  }
  .foto{
    width: 1400px;
  }

  .earthwrap {
    height: 0px;
    position: relative;
    left: 540px;
    top: -165px;
  }

  .foto .row > div{
    height: 495px;
    margin: 0 10px 10px 0;
  }
}