.screen6 {
  width: 100vw;
  height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8 ;
  font-size: 20px;
  padding-top: 120px;
  overflow-x: hidden;
}

.container {
  width: 2400px;
  display: flex;
  flex-direction: column;
}

.screen6-title{
  height: 140px;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.5660001482;
  letter-spacing: 0.28rem;
  text-transform: uppercase;
  font-family: Benzin-Bold, 'Source Sans Pro';
}

.vertical-scrollable-timeline {
  list-style-type: none;
  position: relative;
  padding-left: 0;
}

.list-progress {
  width: 6px;
  height: 84%;
  background-color: #000000;
  position: absolute;
  left: 38px;
  top: 0;
  overflow: hidden;
}


.icon-holder{
  position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febf0f;
    border-radius: 50%;
    z-index: 1;
    transition: 0.4s all;
    font-size: 40px;
}

.icon-holder::before{
  content: "";
  width: 65px;
  height: 65px;
  border: 4px solid #000000;
  position: absolute;
  background-color: var(--secondary-color);
  border-radius: 50%;
  z-index: 1;
  transition: 0.4s all;
}

.vertical-scrollable-timeline li {
  height: 180px;
  position: relative;
  padding: 0 0 30px 145px;
}

.vertical-scrollable-timeline li h4{
  font-size: 42px;
}

.vertical-scrollable-timeline li p{
  font-size: 32px;
}

@media screen and (max-width: 1920px) {
  .container {
    width: 1800px;
    display: flex;
    flex-direction: column;
}
}


@media screen and (max-width: 1500px) {
  .container {
    width: 1100px;
    display: flex;
    flex-direction: column;
}
}