<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>1. Складская техника</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat%3A300%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Benzin-Bold%3A400"/>
  <link rel="stylesheet" href="./-E4X.css"/>
</head>
<body>



<div class="screen3">
  <div class="screen3-wraper">
    <div class="screen3-wraper2">


      <div class="background">
        <img class="item-2-oUB" src="./img/circle.png"/>
        <img class="ellipse-678-iLF" src="./img/ellipse-678.png"/>
        <div class="back-img"></div>
        <img class="ellipse-679-Uij" src="./img/ellipse-679.png"/>
        <img class="item-3-p1u" src="./img/-PRZ.png"/>
      </div>














      <div class="item--Jhm">
        <div class="auto-group-3pqo-zqV">
          <div class="item--jYB">
            <img class="auto-group-xk3z-pT9" src="./img/auto-group-xk3z.png"/>
            <p class="item--iYX">Надежность</p>
            <p class="item--Nsy">Техника прекрасно переносит любые климатические условия. Не просто так данный производитель занимает второе место в Китае по экспорту складской техники и автомобилей не только в Россию, но и в страны Европы и Азии.</p>
          </div>
          <div class="item--65D">
            <img class="item-2-yeo" src="./img/-Wgw.png"/>
            <img class="item--4RM" src="./img/2.png"/>
            <p class="item--PTd">Технические характеристики, не уступающие японским и европейским аналогам</p>
            <p class="jac--MYs">Характерная черта JAC-стремление к одному уровню по качеству и функциональности со знаменитыми брендами.</p>
          </div>
        </div>
        <div class="auto-group-j215-xoZ">
          <div class="item--6um">
            <img class="item--qMZ" src="./img/-CFH.png"/>
            <div class="item--kDd">
              <p class="item--huZ">Качество производства</p>
              <p class="jac-motors--aCf">JAC Motors - государственная компания, данный статус несет за собой тщательный контроль за качеством производства и выбором поставщиков комплектующих.</p>
            </div>
          </div>
          <div class="item--8Nb">
            <img class="item--eLw" src="./img/-J9D.png"/>
            <p class="item--NXq">Большой выбор техники</p>
            <p class="item--dyZ">Выбор производимой техники для склада достаточно велик. Вы можете подобрать все, что вам необходимо с учетом специфики работы вашего предприятия. </p>
          </div>
        </div>
      </div>
      <div class="item--V8b">
        <p class="jac-zr3">
          <span class="jac-zr3-sub-0">преимущества</span><br/>
          <span class="jac-zr3-sub-1"> складской техники </span>
          <span class="jac-zr3-sub-2">Jac</span>
        </p>
        <img class="vector-144-Zpb" src="REPLACE_IMAGE:524:265"/>
      </div>
    </div>
  </div>
</div>
</body>