
.screen3  {
  /*padding-left: 13.6rem;*/
  width: 100vw;
  height: 1600px;
  overflow: hidden;
  position: relative;
  background-color: #e8e8e8 ;
  /*background-color: #00427a;*/
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.screen3-title {
  width: 1400px;
  z-index: 2;
}

.screen3-title-text {
  /*margin-bottom: 1rem;
  /*max-width: 71.5rem;*/
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28rem;
  text-transform: uppercase;
  font-family: Benzin-Bold, 'Source Sans Pro';
}

.screen3-title-text .black {
  color: #000000;
}

/*.screen3-title-text .yellow {
  color: #ffd600;
}

.screen3-title-text .orange {
  color: #ff9919;
}*/
.screen3-title .vector-144-Zpb {
  width: 11.1rem;
  height: 6px;
}

.screen3-content {
  /*width: 82.2rem;*/
  height: 105.3431rem;
  position: relative;
  z-index: 2;
}

.block-row {
  margin-bottom: 7.1rem;
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: flex-end;*/
}

.screen3-block {
  width: 350px;
  margin-right: 9.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-start;
}
.block-icon {
  margin-bottom: 3.0748rem;
  width: 100px;
  /*height: 11.1252rem;*/
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.screen3-block-title {
  height: 85px;
  margin-bottom: 1rem;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.3460000992;
  letter-spacing: 0.08rem;
  /*color: #fff;*/
  font-family: Montserrat, 'Source Sans Pro';
  /*white-space: nowrap;*/
  flex-shrink: 0;
}
.screen3-block-text {
  max-width: 37.7rem;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.3460000356;
  letter-spacing: 0.072rem;
  /*color: #fff;*/
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}

