
.screen5 {
  /*width: 100vw;
  max-width: 2300px;*/
  height: 500px;
  /*position: absolute;
  left: 0;
  top: 434.6rem;*/
  background-color: #e8e8e8 ;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form{

  display: flex;
  flex-direction: row;
  width: 2300px;
  height: 100px;
  justify-content: space-around;
  background-image: url('./background.png');
  background-size: cover;
  background-position: center;
}


.screen5 .input {
  padding: 27px 0;
  width: 350px;
  height: 90px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  color: #b2b2b2;
  font-family: Benzin-Medium, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #313131;
  background-color: #ffffff;
  text-align: center;
}

.fifth-screen-button {
  width: 330px;
  height: 90px;
  /*position: absolute;*/
  /*left: 119.2rem;
  top: 40.1rem;*/
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px #ffe149;
  box-sizing: border-box;
  text-align: center;
}



.screen5 .button-text {
  width: 15.4rem;
  height: 1.6rem;
  position: absolute;
  /*left: 9.2rem;
  top: 5.5rem;*/
  font-size: 30px;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: 0.1305rem;
  text-transform: uppercase;
  color: #313131;
  font-family: Benzin-Medium, 'Source Sans Pro';
  white-space: nowrap;
  z-index: 2;
  background-color: #ffe149;
}

@media screen and (max-width: 1600px) {
  .screen5 .input {
    padding: 12px 0;
    width: 250px;
    height: 50px;
    font-size: 20px;
    line-height: 1.15;
    color: #8d8d8d;
  }

  .screen5 .fifth-screen-button {
    width: 250px;
    height: 50px;
  }

  .screen5 .button-text {
    width: 240px;
    height: 40px;
    font-size: 12px;
    letter-spacing: 1px;
    padding-top: 15px;
  }

}




/*.item--Vef {
  opacity: 0.56;
  width: 27.9rem;
  height: 8rem;
  position: absolute;
  /*left: 5.4rem;
  top: 5.3rem;
  filter: blur(2.7rem);
  background-color: rgba(40, 44, 47, 0.5600000024);
}
.button-background {
  width: 310px;
  height: 80px;
  padding: 5px;
  position: absolute;
  /*left: 1rem;
  top: 1rem;
  object-fit: contain;
  vertical-align: top;
}
.item--7AF {
  width: 38.6rem;
  height: 11.9rem;
  /*position: absolute;
  left: 0;
  top: 0;

}*/

/*.mask-group-Djm {
  width: 100vw;
  height: 41.6rem;
  position: absolute;
  /*left: 0;
  top: 4.1rem;
  margin-top: 50px;
  object-fit: contain;
  vertical-align: top;
}
 .cpqd152-1-kzb {
  width: 79.8rem;
  height: 57.9rem;
  position: relative;
  left: 8.4rem;
  top: 0;
  background-size: 100.098% 137.574%;
  background-position: -0.0392rem 0;
  /*background-image: url('./background.png');
}*/
/* .item--3yh {
  width: 38.6rem;
  height: 13.3rem;
  position: absolute;
  left: 120.1rem;
  top: 40rem;
}
 .item--3yh .item--AoR {
  width: 36.6rem;
  height: 9.9rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  object-fit: contain;
  vertical-align: top;
}
 .item--3yh .item--Ht3 {
  width: 38.6rem;
  height: 11.9rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #e69337;
  box-sizing: border-box;
}*/
/* .item--3yh .item--orP {
  width: 9.7rem;
  height: 1.6rem;
  position: absolute;
  left: 13rem;
  top: 5.5rem;
  font-size: 1.374rem;
  font-weight: 400;
  line-height: 1.1560000289;
  letter-spacing: 0.1305rem;
  text-transform: uppercase;
  color: #313131;
  font-family: Benzin-Medium, 'Source Sans Pro';
  white-space: nowrap;
}*/