
.screen5 {
  height: 600px;
  background-color: #e8e8e8 ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-lead-background{
  position: absolute;
  width: 2400px;
  height: 840px;
  background-image: url('./background.png');
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.form{
  display: flex;
  flex-direction: row;
  width: 2400px;
  /*height: 840px;*/
  justify-content: space-around;
  position: relative;
  /*bottom: -150px;*/
  z-index: 1;
  align-items: center;
}


.screen5 .input {
  padding: 27px 0;
  width: 350px;
  height: 90px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  color: #b2b2b2;
  font-family: Benzin-Medium, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #313131;
  background-color: #ffffff;
  text-align: center;
}

.fifth-screen-button {
  width: 330px;
  height: 90px;
  /*position: absolute;*/
  /*left: 119.2rem;
  top: 40.1rem;*/
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 4px #ffe149;
  box-sizing: border-box;
  text-align: center;
  background: none;
}



.screen5 .button-text {
  width: 305px;
  height: 70px;
  position: absolute;
  /*left: 9.2rem;
  top: 5.5rem;*/
  align-self: center;
  font-size: 24px;
  font-weight: 800;
  line-height: 3;
  letter-spacing: 0.1305rem;
  text-transform: uppercase;
  color: #313131;
  font-family: Benzin-Medium, 'Source Sans Pro';
  white-space: nowrap;
  z-index: 2;
  background-color: #ffe149;
}

@media screen and (max-width: 1920px) {
  .screen-lead-background{
    width: 1870px;
    height: 840px;
  }

  .screen5 .input {
    padding: 12px 0;
    width: 250px;
    height: 50px;
    font-size: 20px;
    line-height: 1.15;
    color: #8d8d8d;
  }

  .screen5 .fifth-screen-button {
    width: 250px;
    height: 50px;
  }

  .screen5 .button-text {
    width: 240px;
    height: 40px;
    font-size: 12px;
    letter-spacing: 1px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 1600px) {
  .screen5 .input {
    padding: 12px 0;
    width: 250px;
    height: 50px;
    font-size: 20px;
    line-height: 1.15;
    color: #8d8d8d;
  }

  .screen5 .fifth-screen-button {
    width: 250px;
    height: 50px;
  }

  .screen5 .button-text {
    width: 240px;
    height: 40px;
    font-size: 12px;
    letter-spacing: 1px;
    padding-top: 15px;
  }

}

@media screen and (max-width: 640px) {
  
  .screen5 {
    height: 400px;
    background-color: #e8e8e8 ;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .screen-lead-background{
    display: none;
  }

  .form{
    flex-direction: column;
    /*width: 2400px;*/
    height: 300px;
    /*justify-content: space-around;
    position: relative;
    bottom: -150px;
    z-index: 1;*/
    align-items: center;
  }
}


@media screen and (max-width: 320px) {
  .form{
    flex-direction: column;
    /*width: 2400px;*/
    height: 300px;
    /*justify-content: space-around;
    position: relative;
    bottom: -150px;
    z-index: 1;*/
    align-items: center;
  }

}







.item--Vef {
  opacity: 0.56;
  width: 27.9rem;
  height: 8rem;
  position: absolute;
  /*left: 5.4rem;
  top: 5.3rem;*/
  filter: blur(2.7rem);
  background-color: rgba(40, 44, 47, 0.5600000024);
  z-index: -1;
}
